{% extends "/base.jinja" %}
{% block title %}404{% endblock %}
{% block main %}
<h2>Page Not Found :(</h2>
<p>If this was a valid paste link, it may have expired or was removed by the owner.</p>
{% endblock %}
