<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Hasty Paste</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.svg') }}" type="image/svg+xml">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono&family=Open+Sans&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pygments.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>

<body>
    <header>
        <h1>{{ self.title() }}</h1>
        <nav>
            <a class="bnt" href="{{ url_for('front_end.get_about') }}">About</a>
            <a class="bnt" href="{{ url_for('front_end.get_new_paste') }}">New Paste</a>
        </nav>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        Powered by <strong><a href="https://github.com/enchant97/hasty-paste">Hasty Paste</a> V{{ config.__version__ }}</strong>
    </footer>
</body>

</html>
