{% extends "/base.jinja" %}
{% block title %}New{% endblock %}
{% block main %}
<form class="panel" action="{{ url_for('front_end.post_new_paste') }}" method="post"
    onsubmit="return validate_new_post_form()">
    <div class="other-fields">
        <div>
            <label for="expires-at">Expiry</label>
            <input type="datetime-local" name="expires-at" id="expires-at" {% if default_expires_at
                %}value="{{ default_expires_at }}" {% endif %}>
        </div>
        <div>
            <label for="highlighter-name">Syntax Highlighting</label>
            <input type="text" name="highlighter-name" id="highlighter-name" list="highlighter-names"
                placeholder="** No Highlighting **" autocorrect="off" autocapitalize="off" autocomplete="off">
            <datalist id="highlighter-names">
                {%- for name in get_highlighter_names() -%}
                <option value="{{ name }}">
                    {%- endfor -%}
            </datalist>
        </div>
        {% if show_long_id_checkbox %}
        <div>
            <label for="long-id">Long ID</label>
            <input type="checkbox" name="long-id" id="long-id" value="1">
        </div>
        {% endif %}
    </div>
    <textarea name="paste-content" id="paste-content" rows="15" placeholder="enter content here..." autocorrect="off"
        autocapitalize="off" autocomplete="off" required autofocus>{{ content }}</textarea>
    <button type="submit">Create</button>
</form>

{% endblock %}
