{% extends "/base.jinja" %}
{% block title %}View{% endblock %}
{% block main %}
<code id="paste-content">
{% for line in paste_content %}<pre>{{ line.decode()|e }}</pre>{% endfor %}
</code>

{% endblock %}
