{% extends "/base.jinja" %}
{% block title %}View{% endblock %}
{% block main %}
<div class="panel">
    <a class="bnt" href="{{ url_for('.get_raw_paste', paste_id=meta.paste_id) }}">View Raw</a>
    <a class="bnt" href="{{ url_for('.get_raw_paste', paste_id=meta.paste_id) }}"
        download="paste.txt">Download</a>
</div>

<div class="panel">
    <pre id="paste-content">{%- for line in paste_content -%}<code>{{ line.decode()|e }}</code>{%- endfor -%}</pre>
</div>

{% endblock %}
