package components

templ NotFoundPage() {
	@base("404 Not Found") {
		@header()
		<div class="p-2">
			<h1 class="my-2">Page Not Found</h1>
			<p class="py-2">Your requested page could not be found or you do not have permission.</p>
		</div>
		@footer()
	}
}
