<section class="panel index-logo">
    {% if config.BRANDING.ICON %}
    <img src="{{ url_for('extra_static.get_brand_icon') }}" alt="app icon">
    {% else %}
    <img src="{{ url_for('static', filename='icon.svg') }}" alt="app icon">
    {% endif %}
    <h2>{{ config.BRANDING.TITLE }}</h2>
    <p>{{ config.BRANDING.DESCRIPTION }}</p>
</section>

<section class="panel">
    <h2>Features</h2>
    <ul>
        <li>Quickly paste and save, to share some text</li>
        <li>No JavaScript needed</li>
        <li>No auth needed</li>
        <li>Uses minimal resources</li>
        <li>Add expiring pastes</li>
        <li>Dark theme</li>
        <li><a href="{{ url_for('swagger_ui') }}">REST API</a></li>
    </ul>
</section>
